@import '~bootstrap/scss/bootstrap';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-custom-theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'mixins';
@import 'variables';
@import url('~ag-grid-community/dist/styles/ag-grid.css');
@import url('~ag-grid-community/dist/styles/ag-theme-material.css');

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}