language: node_js
node_js:
- "8.11"

branches:
  only:
  - master

addons:
  chrome: stable

before_script:
- yarn global add @angular/cli

cache:
  yarn: true
  directories:
  - node_modules

script:
- npm run lint
- ng test --watch=false
- ng build --prod --base-href “https://paul58914080.github.io/ff4j-web-console/”


deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: ./dist/
  on: