<mat-toolbar color="primary">
  <mat-icon>toggle_on</mat-icon>&nbsp;
  <span class='d-block d-md-none'>FF4J</span>
  <span class='d-none d-sm-none d-md-block'>Feature Flipping 4 Java</span>
  <span class='spacer'></span>
  <div class='h-100'>
    <div class='links'>
      <a routerLink='/features' [routerLinkActive]="['router-link-active']">
        <span class='d-none d-md-block'>Features</span>
        <span class='d-block d-md-none'>F</span>
      </a>
      <a routerLink='/properties' [routerLinkActive]="['router-link-active']">
        <span class='d-none d-md-block'>Properties</span>
        <span class='d-block d-md-none'>P</span>
      </a>
      <a routerLink='/dashboard' [routerLinkActive]="['router-link-active']">
        <span class='d-none d-md-block'>Dashboard</span>
        <span class='d-block d-md-none'>D</span>
      </a>
    </div>
  </div>
</mat-toolbar>