mat-card {
  border-left: 3px solid #009688;

  .title-label {
    font-size: 1.2rem;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    font-size: .8rem;
    font-weight: 300;
  }

  .label-bold {
    font-size: .8rem;
    font-weight: 400;
  }

  .ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ff4j-badges {
    padding-left: 15px;
  }
}