mat-card {
  border-left: 3px solid #009688;
  .label {
    font-size: .8rem;
    font-weight: 300;
  }

  .label-bold {
    font-size: .8rem;
    font-weight: 400;
  }

  .ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    font-size: .8rem;
    font-weight: 400;
  }
}