<mat-card>
  <div class='container-fluid'>
    <div class='row d-flex'>
      <div class='col-sm-6 col-md-4 text-left d-flex align-items-center'>
        <mat-slide-toggle><span class='label'>{{feature.uid}}</span></mat-slide-toggle>
      </div>
      <div class='col-sm-6 col-md-3 d-flex align-items-center justify-content-center' *ngIf='feature.group'>
        <label class='label' style='padding-top: 7px'>Group &nbsp;</label><span class="badge badge-pill badge-secondary label">Secondary</span>
      </div>
      <div class='col-md-5 text-right'>
        <button mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class='row d-none d-md-block' style='padding-top: 15px'>
      <div class='col-md-12'>
        <label class='label'>
          {{feature.description}}
        </label>
      </div>
    </div>
    <div class='row'>
      <!-- TODO -->
    </div>
  </div>
</mat-card>
