<div class="ff4j-badges">
  <span *ngIf="!showAll">
    <span class="badge badge-pill badge-secondary label m-1" *ngFor="let value of (values | slice: 0:maxToShow)">{{ value }}</span>
    <span *ngIf="values?.length > maxToShow">..<a href="javascript:void(0)" (click)="showAll = true">more</a></span>
  </span>
  <span *ngIf="showAll">
    <span class="badge badge-pill badge-secondary label m-1" *ngFor="let value of values"> {{ value }} </span>
    <span>..<a href="javascript:void(0)" (click)="showAll = false">less</a></span>
  </span>
</div>
